* {
    font-family: arial;
}

main {
    background-color: #EEEEEE;
    margin: 30px 5px 30px 5px;
}

h1 {
    text-align: center;
}

#honorific {
    text-align: center;
}

#img-div {
    background-color: white;
    margin: 0 15px;
    padding-top: 10px;
    padding-bottom: 1px;
}

#image {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

#img-caption {
    text-align: center;
}

h3 {
    text-align: center;
}